<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liuil.xmall.mapper.UserDao">
  <resultMap id="BaseResultMap" type="com.liuil.xmall.domain.User">
    <result column="id" property="id" />
    <result column="name" property="name"/>
    <result column="password" property="password" />
    <result column="email" property="email" />
    <result column="phone" property="phone" />
    <result column="role" property="role" />
    <result column="user_id" property="userId"/>
    <result column="age" property="age"/>
    <result column="address" property="address"/>
    <result column="is_confirmed" property="confirmed" />
    <result column="is_active" property="activate" />
    <result column="gmt_create" property="createTime" />
    <result column="gmt_modified" property="modifiedTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, name, password, email, phone, role, is_confirmed, is_activate
  </sql>
  <select id="findByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM user
    WHERE email = #{email}
  </select>

  <insert id="save">
    INSERT INTO user (user_id, name, age, address)
      VALUES (#{e.userId}, #{e.name}, #{e.age}, #{e.address})
  </insert>

  <select id="getUsers" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM user
  </select>
</mapper>
